<div class='mt-2'>
  <p class="flow-text grey-text darken-4 center">
    Welcome to <%= @current_room.name %>
  </p>
  <div>
    <%= live_component @socket, TwixWeb.ChatLive.Messages, id: @current_room._id, room: @current_room, current_user_id: @current_user_id %>
  </div>
</div>
