<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Twix", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>
    <header>
      <section>
        <nav role="navigation" class="black">
        <div class="nav-wrapper">
          <div class="container"> 
            <%= link "Twix", class: "brand-logo blue-text", to: Routes.home_path(@conn, :index) %>
            <ul class="right">
              <%= if @user_signed_in? do %>
              <li>
                <%= link "Sign Out", class: "red-text", to:
                Routes.auth_path(@conn, :delete), method: :delete %>
              </li>
              <%= else %>
              <li>
                <%= link "Sign In", class: "blue-text", to: Routes.auth_path(@conn, :new) %>
              </li>
              <li>
                <%= link "Sign Up", class: "blue-text", to: Routes.registration_path(@conn, :new) %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
