<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Twix", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
      M.AutoInit();
    </script>

  </head>
  <body>
    <header>
      <section>
        <nav role="navigation">
        <div class="nav-wrapper">
          <div class="container"> 
            <%= link "Twix", class: "brand-logo grey-text", to: Routes.home_path(@conn, :index) %>
            <ul class="right">
              <%= if @user_signed_in? do %>
              <li>
                <%= link "Feed", class: "grey darken-2 btn", to:
                Routes.feed_path(@conn, :index) %>
              </li>
              <li>
                <%= link "Sign Out", class: "grey darken-2 btn", to:
                Routes.auth_path(@conn, :delete), method: :delete %>
              </li>
              <div class="fixed-action-btn modal-trigger" data-target="add-post">
                <span class="btn-floating waves-effect btn-large waves-light grey darken-2"><i class="material-icons">add</i></span>
              </div>
              <% else %>
              <li>
                <%= link "Sign In", class: "btn grey darken-2", to: Routes.auth_path(@conn, :new) %>
              </li>
              <li>
                <%= link "Sign Up", class: "btn grey darken-2", to: Routes.registration_path(@conn, :new) %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
